@font-face {
  font-family: "Rubis-black";
  src: url(./Police/Rubik/static/Rubik-Black.ttf);
}
@font-face {
  font-family: "Rubis-regular";
  src: url(./Police/Rubik/static/Rubik-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  font-family: "Rubis-regular", serif;
}

body {
  background-color: #e4f3ff;
}

header {
  height: 80px;
  background-color: #e4f3ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header figure {
  height: 60%;
  margin-left: 50px;
}
header figure img {
  height: 100%;
  line-height: 100%;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 900px) {
  header figure {
    height: 50%;
  }
}
@media screen and (max-width: 700px) {
  header figure {
    height: 45%;
    margin-left: 30px;
  }
}
@media screen and (max-width: 500px) {
  header figure {
    height: 40%;
  }
}
@media screen and (max-width: 400px) {
  header figure {
    margin-right: 20px;
  }
}
header nav {
  height: 100%;
  margin-right: 50px;
  transition: all 0.5s ease-in-out;
}
@media screen and (max-width: 700px) {
  header nav {
    margin-right: 30px;
  }
}
header nav ul {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}
header nav ul li {
  padding: 0 10px;
  height: 100%;
}
@media screen and (max-width: 700px) {
  header nav ul li {
    display: none;
  }
}
header nav ul li a {
  text-align: center;
  padding: 0 10px;
  height: 100%;
  display: block;
  font-size: 1.5em;
  line-height: 80px;
  text-decoration: none;
  color: #4b4b4b;
  width: 100%;
}
header nav ul li a:hover {
  background-color: #ffffff;
  opacity: 70%;
}
@media screen and (max-width: 900px) {
  header nav ul li a {
    font-size: 1em;
  }
}
header #burger {
  overflow: hidden;
  display: none;
  margin-right: 30px;
  height: 45%;
}
header #burger img {
  height: 100%;
  text-align: center;
}
@media screen and (max-width: 700px) {
  header #burger {
    display: block;
  }
}
@media screen and (max-width: 400px) {
  header #burger {
    margin-right: 20px;
  }
}

main {
  background-color: #e4f3ff;
}
main .h2 {
  color: #f08136;
}
main #fullscreen {
  height: calc(100vh - 80px);
}
main #fullscreen #sky {
  position: relative;
  height: 70%;
  background-color: #e4f3ff;
  overflow: hidden;
}
main #fullscreen #sky #clouds {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100%;
}
main #fullscreen #sky #clouds #cloud1 {
  margin: 10px 2% 0 3%;
  width: 400px;
  height: 100%;
}
main #fullscreen #sky #clouds #cloud1 img {
  width: 100%;
  height: 28%;
}
main #fullscreen #sky #clouds #cloud2 {
  margin: 8% 15% 8% 0;
  width: 600px;
  height: 100%;
}
main #fullscreen #sky #clouds #cloud2 img {
  width: 100%;
  height: 67%;
}
main #fullscreen #sky #clouds #cloud3 {
  margin: 9% 15% 7% 0;
  width: 500px;
  height: 100%;
}
main #fullscreen #sky #clouds #cloud3 img {
  width: 100%;
  height: 30%;
}
main #fullscreen #sky #imgPecheur {
  position: absolute;
  left: 138px;
  bottom: -159px;
  height: 500px;
  width: 750px;
}
main #fullscreen #sky #imgPecheur #pecheur {
  position: relative;
  width: 100%;
  height: 100%;
}
main #fullscreen #sky #imgPecheur #pecheur img {
  position: absolute;
  left: -14%;
  width: 100%;
  bottom: 18%;
  height: 99%;
}
@media screen and (max-width: 950px) {
  main #fullscreen #sky #imgPecheur #pecheur img {
    position: absolute;
    left: -14%;
    width: 100%;
    bottom: -3%;
    height: 160%;
  }
}
@media screen and (max-width: 700px) {
  main #fullscreen #sky #imgPecheur #pecheur img {
    position: absolute;
    left: -14%;
    width: 100%;
    bottom: -1%;
    height: 157%;
  }
}
@media screen and (max-width: 600px) {
  main #fullscreen #sky #imgPecheur #pecheur img {
    position: absolute;
    left: -14%;
    width: 100%;
    bottom: -8%;
    height: 175%;
  }
}
@media screen and (max-width: 500px) {
  main #fullscreen #sky #imgPecheur #pecheur img {
    width: 133%;
    height: 149%;
    left: -28%;
    bottom: 1%;
  }
}
@media screen and (max-width: 400px) {
  main #fullscreen #sky #imgPecheur #pecheur img {
    height: 178%;
    bottom: -9%;
  }
}
@media screen and (max-height: 550px) {
  main #fullscreen #sky #imgPecheur #pecheur img {
    left: -23%;
    bottom: 25%;
    height: 80%;
  }
}
@media screen and (max-height: 475px) {
  main #fullscreen #sky #imgPecheur #pecheur img {
    left: -31%;
    bottom: 26%;
    height: 65%;
  }
}
@media screen and (max-height: 390px) {
  main #fullscreen #sky #imgPecheur #pecheur img {
    left: -42%;
    bottom: 31%;
    height: 45%;
  }
}
@media screen and (max-width: 600px) and (max-height: 550px) {
  main #fullscreen #sky #imgPecheur #pecheur img {
    left: -23%;
    bottom: -4%;
    height: 163%;
  }
}
@media screen and (max-width: 600px) and (max-height: 475px) {
  main #fullscreen #sky #imgPecheur #pecheur img {
    left: -31%;
    bottom: 25%;
    height: 67%;
  }
}
@media screen and (max-width: 600px) and (max-height: 390px) {
  main #fullscreen #sky #imgPecheur #pecheur img {
    left: -43%;
    bottom: 32%;
    height: 41%;
  }
}
@media screen and (max-height: 550px) and (max-width: 500px) {
  main #fullscreen #sky #imgPecheur #pecheur img {
    left: -41%;
    bottom: -8%;
    height: 169%;
  }
}
@media screen and (max-height: 550px) and (max-width: 1200px) {
  main #fullscreen #sky #imgPecheur #pecheur img {
    left: -10%;
    bottom: 13%;
    height: 115%;
  }
}
@media screen and (max-height: 550px) and (max-width: 950px) {
  main #fullscreen #sky #imgPecheur #pecheur img {
    left: -13%;
    bottom: -2%;
    height: 154%;
  }
}
@media screen and (max-height: 550px) and (max-width: 700px) {
  main #fullscreen #sky #imgPecheur #pecheur img {
    left: -11%;
    bottom: 27%;
    height: 76%;
  }
}
@media screen and (max-height: 550px) and (max-width: 600px) {
  main #fullscreen #sky #imgPecheur #pecheur img {
    left: -12%;
    bottom: -8%;
    height: 178%;
  }
}
@media screen and (max-height: 550px) and (max-width: 500px) {
  main #fullscreen #sky #imgPecheur #pecheur img {
    left: -29%;
    bottom: -6%;
    height: 169%;
  }
}
@media screen and (max-height: 475px) and (max-width: 1200px) {
  main #fullscreen #sky #imgPecheur #pecheur img {
    left: -19%;
    bottom: 17%;
    height: 89%;
  }
}
@media screen and (max-height: 475px) and (max-width: 950px) {
  main #fullscreen #sky #imgPecheur #pecheur img {
    bottom: -1%;
    height: 139%;
  }
}
@media screen and (max-height: 475px) and (max-width: 700px) {
  main #fullscreen #sky #imgPecheur #pecheur img {
    left: -19%;
    bottom: 21%;
    height: 78%;
  }
}
@media screen and (max-height: 390px) and (max-width: 1200px) {
  main #fullscreen #sky #imgPecheur #pecheur img {
    left: -30%;
    bottom: 25%;
    height: 60%;
  }
}
@media screen and (max-height: 390px) and (max-width: 950px) {
  main #fullscreen #sky #imgPecheur #pecheur img {
    left: -29%;
    bottom: 10%;
    height: 101%;
  }
}
@media screen and (max-height: 390px) and (max-width: 700px) {
  main #fullscreen #sky #imgPecheur #pecheur img {
    left: -30%;
    bottom: 33%;
    height: 39%;
  }
}
@media screen and (max-height: 475px) and (max-width: 500px) {
  main #fullscreen #sky #imgPecheur #pecheur img {
    left: -37%;
    bottom: -12%;
    height: 169%;
  }
}
@media screen and (max-height: 390px) and (max-width: 500px) {
  main #fullscreen #sky #imgPecheur #pecheur img {
    left: -47%;
    bottom: -6%;
    height: 149%;
  }
}
main #fullscreen #sky #imgPecheur #barque {
  position: relative;
  width: 100%;
  height: 100%;
}
main #fullscreen #sky #imgPecheur #barque img {
  bottom: 53%;
  position: absolute;
  height: 200%;
  width: 100%;
  left: -16%;
}
@media screen and (max-width: 1200px) {
  main #fullscreen #sky #imgPecheur #barque img {
    bottom: 54%;
    position: absolute;
    height: 200%;
    width: 79%;
    left: -4%;
  }
}
@media screen and (max-height: 550px) {
  main #fullscreen #sky #imgPecheur #barque img {
    width: 80%;
  }
}
@media screen and (max-height: 475px) {
  main #fullscreen #sky #imgPecheur #barque img {
    width: 65%;
    bottom: 49%;
  }
}
@media screen and (max-height: 390px) {
  main #fullscreen #sky #imgPecheur #barque img {
    width: 45%;
    bottom: 47%;
  }
}
@media screen and (max-height: 550px) {
  main #fullscreen #sky #imgPecheur {
    left: 13%;
    bottom: -170px;
    height: 500px;
  }
}
@media screen and (max-width: 1200px) {
  main #fullscreen #sky #imgPecheur {
    bottom: -130px;
    height: 400px;
    left: 60px;
  }
}
@media screen and (max-width: 950px) {
  main #fullscreen #sky #imgPecheur {
    left: calc(100% - 885px);
    height: 231px;
    bottom: -36px;
    width: 700px;
  }
}
@media screen and (max-width: 950px) and (max-height: 390px) {
  main #fullscreen #sky #imgPecheur {
    left: calc(100% - 830px);
    height: 231px;
    bottom: -53px;
    width: 700px;
  }
}
@media screen and (max-width: 780px) {
  main #fullscreen #sky #imgPecheur {
    left: -12%;
    bottom: -31px;
    height: 225px;
    width: 700px;
  }
}
@media screen and (max-width: 700px) {
  main #fullscreen #sky #imgPecheur {
    left: -16%;
  }
}
@media screen and (max-width: 780px) and (max-height: 390px) {
  main #fullscreen #sky #imgPecheur {
    left: -6%;
    bottom: -50px;
  }
}
@media screen and (max-width: 600px) {
  main #fullscreen #sky #imgPecheur {
    left: -20%;
    bottom: -17px;
    height: 170px;
    width: 700px;
  }
}
@media screen and (max-width: 500px) {
  main #fullscreen #sky #imgPecheur {
    left: -13%;
    bottom: -26px;
    height: 170px;
    width: 450px;
  }
}
@media screen and (max-width: 400px) {
  main #fullscreen #sky #imgPecheur {
    left: -18%;
    bottom: -8px;
    height: 132px;
    width: 450px;
  }
}
@media screen and (max-width: 350px) {
  main #fullscreen #sky #imgPecheur {
    left: -25%;
    bottom: 6px;
    height: 104px;
    width: 450px;
  }
}
@media screen and (max-width: 700px) and (max-height: 550px) {
  main #fullscreen #sky #imgPecheur {
    left: -15%;
    bottom: -182px;
    height: 500px;
  }
}
@media screen and (max-width: 600px) and (max-height: 550px) {
  main #fullscreen #sky #imgPecheur {
    left: -22%;
    bottom: -17px;
    height: 170px;
    width: 700px;
  }
}
@media screen and (max-width: 700px) and (max-height: 475px) {
  main #fullscreen #sky #imgPecheur {
    left: -12%;
    bottom: -124px;
    height: 396px;
  }
}
@media screen and (max-width: 700px) and (max-height: 390px) {
  main #fullscreen #sky #imgPecheur {
    left: 10%;
    bottom: -176px;
    height: 500px;
  }
}
@media screen and (max-width: 500px) and (max-height: 550px) {
  main #fullscreen #sky #imgPecheur {
    left: -32%;
    bottom: -8px;
    height: 140px;
    width: 700px;
  }
}
@media screen and (max-width: 400px) and (max-height: 550px) {
  main #fullscreen #sky #imgPecheur {
    left: -40%;
  }
}
@media screen and (max-width: 350px) and (max-height: 550px) {
  main #fullscreen #sky #imgPecheur {
    left: -27%;
    bottom: 6px;
    height: 104px;
    width: 450px;
  }
}
@media screen and (max-width: 500px) and (max-height: 475px) {
  main #fullscreen #sky #imgPecheur {
    left: -21%;
  }
}
@media screen and (max-width: 400px) and (max-height: 475px) {
  main #fullscreen #sky #imgPecheur {
    left: -28%;
  }
}
@media screen and (max-width: 350px) and (max-height: 475px) {
  main #fullscreen #sky #imgPecheur {
    left: -12%;
    bottom: -2px;
    height: 126px;
    width: 450px;
  }
}
@media screen and (max-width: 500px) and (max-height: 390px) {
  main #fullscreen #sky #imgPecheur {
    left: -4%;
  }
}
@media screen and (max-width: 400px) and (max-height: 390px) {
  main #fullscreen #sky #imgPecheur {
    left: -13%;
  }
}
@media screen and (max-width: 350px) and (max-height: 390px) {
  main #fullscreen #sky #imgPecheur {
    left: -6%;
    bottom: -6px;
    height: 131px;
    width: 622px;
  }
}
main #fullscreen #sky #reeds {
  height: 200px;
  width: 200px;
  position: absolute;
  bottom: 4%;
}
main #fullscreen #sky #reeds img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 950px) {
  main #fullscreen #sky #reeds {
    left: calc(100% - 950px);
  }
}
@media screen and (max-height: 550px) {
  main #fullscreen #sky #reeds {
    height: 60%;
  }
}
@media screen and (max-height: 475px) {
  main #fullscreen #sky #reeds {
    width: 150px;
    bottom: 8%;
  }
}
@media screen and (max-height: 390px) {
  main #fullscreen #sky #reeds {
    width: 100px;
  }
}
@media screen and (max-width: 1200px) {
  main #fullscreen #sky #reeds {
    height: 170px;
    width: 150px;
    position: absolute;
    bottom: 4%;
  }
}
@media screen and (max-width: 1200px) and (max-height: 475px) {
  main #fullscreen #sky #reeds {
    height: 60%;
    bottom: 6%;
  }
}
@media screen and (max-width: 1200px) and (max-height: 390px) {
  main #fullscreen #sky #reeds {
    width: 100px;
  }
}
main #fullscreen #sky #reeds2 {
  height: 200px;
  width: 200px;
  position: absolute;
  bottom: 4%;
  right: 0px;
}
main #fullscreen #sky #reeds2 img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 1700px) {
  main #fullscreen #sky #reeds2 {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  main #fullscreen #sky #reeds2 {
    display: block;
    height: 170px;
    width: 150px;
  }
}
@media screen and (max-width: 600px) {
  main #fullscreen #sky #reeds2 {
    height: 150px;
    width: 140px;
  }
}
@media screen and (max-width: 500px) {
  main #fullscreen #sky #reeds2 {
    height: 120px;
    width: 110px;
  }
}
@media screen and (max-width: 400px) {
  main #fullscreen #sky #reeds2 {
    height: 110px;
    width: 90px;
    bottom: 5%;
  }
}
@media screen and (max-width: 350px) {
  main #fullscreen #sky #reeds2 {
    height: 90px;
    width: 70px;
  }
}
@media screen and (max-height: 550px) {
  main #fullscreen #sky #reeds2 {
    height: 55%;
  }
}
@media screen and (max-height: 475px) {
  main #fullscreen #sky #reeds2 {
    width: 150px;
    bottom: 8%;
  }
}
@media screen and (max-height: 390px) {
  main #fullscreen #sky #reeds2 {
    width: 100px;
  }
}
@media screen and (max-width: 600px) and (max-height: 550px) {
  main #fullscreen #sky #reeds2 {
    height: 45%;
  }
}
@media screen and (max-width: 600px) and (max-height: 475px) {
  main #fullscreen #sky #reeds2 {
    width: 120px;
  }
}
@media screen and (max-width: 600px) and (max-height: 390px) {
  main #fullscreen #sky #reeds2 {
    width: 100px;
  }
}
@media screen and (max-width: 600px) and (max-height: 340px) {
  main #fullscreen #sky #reeds2 {
    height: 50%;
    width: 100px;
  }
}
@media screen and (max-width: 500px) and (max-height: 550px) {
  main #fullscreen #sky #reeds2 {
    height: 40%;
  }
}
@media screen and (max-width: 500px) and (max-height: 475px) {
  main #fullscreen #sky #reeds2 {
    width: 90px;
  }
}
@media screen and (max-width: 400px) and (max-height: 475px) {
  main #fullscreen #sky #reeds2 {
    height: 45%;
  }
}
@media screen and (max-width: 350px) and (max-height: 550px) {
  main #fullscreen #sky #reeds2 {
    height: 30%;
    bottom: 8%;
  }
}
@media screen and (max-width: 350px) and (max-height: 475px) {
  main #fullscreen #sky #reeds2 {
    width: 70px;
    height: 35%;
    bottom: 10%;
  }
}
@media screen and (max-width: 350px) and (max-height: 390px) {
  main #fullscreen #sky #reeds2 {
    height: 40%;
  }
}
main #fullscreen #sky #text {
  position: absolute;
  bottom: 17%;
  left: 55%;
}
@media screen and (max-width: 1500px) {
  main #fullscreen #sky #text {
    left: 60%;
  }
}
@media screen and (max-width: 1350px) {
  main #fullscreen #sky #text {
    left: 65%;
  }
}
@media screen and (max-width: 950px) {
  main #fullscreen #sky #text {
    left: 60%;
  }
}
@media screen and (max-width: 700px) {
  main #fullscreen #sky #text {
    display: none;
  }
}
@media screen and (max-height: 550px) {
  main #fullscreen #sky #text {
    bottom: 21%;
  }
}
@media screen and (max-height: 390px) {
  main #fullscreen #sky #text {
    bottom: 26%;
  }
}
main #fullscreen #sky #text h1 {
  position: relative;
  bottom: 47%;
  font-family: "Averia Gruesa Libre", cursive;
  color: #4B4B4B;
  font-size: 4.5em;
}
@media screen and (max-width: 1500px) {
  main #fullscreen #sky #text h1 {
    font-size: 4em;
  }
}
@media screen and (max-width: 1350px) {
  main #fullscreen #sky #text h1 {
    font-size: 3em;
  }
}
@media screen and (max-width: 950px) {
  main #fullscreen #sky #text h1 {
    font-size: 2em;
  }
}
@media screen and (max-height: 550px) {
  main #fullscreen #sky #text h1 {
    font-size: 4em;
  }
}
@media screen and (max-height: 550px) and (max-width: 1350px) {
  main #fullscreen #sky #text h1 {
    font-size: 3em;
  }
}
@media screen and (max-height: 550px) and (max-width: 850px) {
  main #fullscreen #sky #text h1 {
    font-size: 2em;
  }
}
@media screen and (max-height: 390px) {
  main #fullscreen #sky #text h1 {
    font-size: 2em;
  }
}
main #fullscreen #sky #text h2 {
  position: relative;
  bottom: 47%;
  left: -18%;
  font-size: 4.5em;
  font-weight: 100;
}
@media screen and (max-width: 1500px) {
  main #fullscreen #sky #text h2 {
    font-size: 4em;
    left: -16%;
  }
}
@media screen and (max-width: 1350px) {
  main #fullscreen #sky #text h2 {
    font-size: 3em;
  }
}
@media screen and (max-width: 1200px) {
  main #fullscreen #sky #text h2 {
    font-size: 2.5em;
    left: -9%;
  }
}
@media screen and (max-width: 950px) {
  main #fullscreen #sky #text h2 {
    font-size: 2em;
    left: -16%;
  }
}
@media screen and (max-height: 550px) {
  main #fullscreen #sky #text h2 {
    font-size: 4em;
  }
}
@media screen and (max-height: 550px) and (max-width: 1350px) {
  main #fullscreen #sky #text h2 {
    font-size: 2.5em;
    left: -8%;
  }
}
@media screen and (max-height: 550px) and (max-width: 850px) {
  main #fullscreen #sky #text h2 {
    font-size: 2em;
    left: -15%;
  }
}
@media screen and (max-height: 390px) {
  main #fullscreen #sky #text h2 {
    font-size: 2em;
  }
}
@media screen and (max-height: 390px) and (max-width: 1350px) {
  main #fullscreen #sky #text h2 {
    left: -16%;
  }
}
main #sea {
  height: 30%;
  width: 100%;
  overflow: hidden;
  background-color: #c4e6ff;
  opacity: 0.8;
}
main #sea::before {
  content: "";
  position: absolute;
  top: calc(70% - 24px);
  left: 0;
  width: 100%;
  height: 14%;
  background: url(./Img/sea.svg);
  animation: waves 120s linear infinite;
}
@keyframes waves {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 3000px;
  }
}
main #sea p {
  position: absolute;
  top: 70%;
  left: 46%;
  width: 40%;
  color: #4B4B4B;
  text-align: center;
  font-size: 1.7em;
  z-index: 99;
}
@media screen and (max-width: 1600px) {
  main #sea p {
    left: 47%;
  }
}
@media screen and (max-width: 1500px) {
  main #sea p {
    left: 52%;
  }
}
@media screen and (max-width: 1400px) {
  main #sea p {
    left: 53%;
  }
}
@media screen and (max-width: 1350px) {
  main #sea p {
    left: 58%;
    font-size: 1.2em;
    width: 33%;
  }
}
@media screen and (max-width: 1300px) {
  main #sea p {
    left: 59%;
  }
}
@media screen and (max-width: 1200px) {
  main #sea p {
    left: 60%;
  }
}
@media screen and (max-width: 1100px) {
  main #sea p {
    left: 61%;
  }
}
@media screen and (max-width: 1000px) {
  main #sea p {
    left: 62%;
  }
}
@media screen and (max-width: 950px) {
  main #sea p {
    left: 53%;
  }
}
@media screen and (max-width: 850px) {
  main #sea p {
    left: 54%;
  }
}
@media screen and (max-width: 800px) {
  main #sea p {
    left: 55%;
  }
}
@media screen and (max-width: 700px) {
  main #sea p {
    display: none;
  }
}
@media screen and (max-height: 550px) {
  main #sea p {
    font-size: 1.5em;
    left: 47%;
    width: 35%;
  }
}
@media screen and (max-height: 550px) and (max-width: 1700px) {
  main #sea p {
    left: 47%;
  }
}
@media screen and (max-height: 550px) and (max-width: 1600px) {
  main #sea p {
    left: 48%;
  }
}
@media screen and (max-height: 550px) and (max-width: 1500px) {
  main #sea p {
    left: 54%;
  }
}
@media screen and (max-height: 550px) and (max-width: 1400px) {
  main #sea p {
    left: 55%;
  }
}
@media screen and (max-height: 550px) and (max-width: 1350px) {
  main #sea p {
    left: 58%;
    font-size: 1.2em;
  }
}
@media screen and (max-height: 550px) and (max-width: 1300px) {
  main #sea p {
    left: 58%;
  }
}
@media screen and (max-height: 550px) and (max-width: 1150px) {
  main #sea p {
    left: 60%;
  }
}
@media screen and (max-height: 550px) and (max-width: 1000px) {
  main #sea p {
    left: 61%;
  }
}
@media screen and (max-height: 550px) and (max-width: 950px) {
  main #sea p {
    left: 57%;
  }
}
@media screen and (max-height: 550px) and (max-width: 900px) {
  main #sea p {
    left: 58%;
  }
}
@media screen and (max-height: 550px) and (max-width: 850px) {
  main #sea p {
    left: 54%;
  }
}
@media screen and (max-height: 550px) and (max-width: 850px) {
  main #sea p {
    left: 55%;
  }
}
@media screen and (max-height: 475px) {
  main #sea p {
    font-size: 1.2em;
    width: 35%;
    left: 47%;
  }
}
@media screen and (max-height: 475px) and (max-width: 1700px) {
  main #sea p {
    left: 48%;
  }
}
@media screen and (max-height: 475px) and (max-width: 1500px) {
  main #sea p {
    left: 54%;
  }
}
@media screen and (max-height: 475px) and (max-width: 1400px) {
  main #sea p {
    left: 55%;
  }
}
@media screen and (max-height: 475px) and (max-width: 1350px) {
  main #sea p {
    left: 58%;
  }
}
@media screen and (max-height: 475px) and (max-width: 1150px) {
  main #sea p {
    left: 60%;
  }
}
@media screen and (max-height: 475px) and (max-width: 1000px) {
  main #sea p {
    left: 61%;
  }
}
@media screen and (max-height: 475px) and (max-width: 950px) {
  main #sea p {
    left: 57%;
  }
}
@media screen and (max-height: 475px) and (max-width: 900px) {
  main #sea p {
    left: 58%;
  }
}
@media screen and (max-height: 475px) and (max-width: 850px) {
  main #sea p {
    left: 54%;
  }
}
@media screen and (max-height: 390px) {
  main #sea p {
    left: 49%;
    width: 22%;
    font-size: 1em;
  }
}
@media screen and (max-height: 390px) and (max-width: 1500px) {
  main #sea p {
    left: 55%;
  }
}
@media screen and (max-height: 390px) and (max-width: 1350px) {
  main #sea p {
    left: 61%;
  }
}
@media screen and (max-height: 390px) and (max-width: 1250px) {
  main #sea p {
    left: 62%;
  }
}
@media screen and (max-height: 390px) and (max-width: 1150px) {
  main #sea p {
    left: 58%;
    width: 30%;
  }
}
@media screen and (max-height: 390px) and (max-width: 1050px) {
  main #sea p {
    left: 59%;
  }
}
@media screen and (max-height: 390px) and (max-width: 950px) {
  main #sea p {
    left: 55%;
  }
}
@media screen and (max-height: 390px) and (max-width: 850px) {
  main #sea p {
    width: 40%;
    left: 51%;
  }
}
main #sea .boule {
  width: 100px;
  position: absolute;
}
@media screen and (max-width: 1000px) {
  main #sea .boule {
    width: 80px;
  }
}
@media screen and (max-width: 450px) {
  main #sea .boule {
    width: 70px;
  }
}
@media screen and (max-height: 475px) {
  main #sea .boule {
    width: 40px;
  }
}
main #sea #js {
  top: 71%;
  left: 22%;
}
main #sea #js img {
  width: 100%;
}
main #sea #html {
  top: 73%;
  left: 37%;
}
main #sea #html img {
  width: 100%;
}
main #sea #css {
  top: 84%;
  left: 55%;
}
main #sea #css img {
  width: 100%;
}
main #sea #php {
  top: 79%;
  left: 37%;
}
main #sea #php img {
  width: 100%;
}
main #sea #sql {
  top: 67%;
  left: 84%;
}
main #sea #sql img {
  width: 100%;
}
main #sea #python {
  top: 71%;
  left: 75%;
}
main #sea #python img {
  width: 100%;
}
main #sea .fish {
  position: absolute;
  width: 15%;
}
@media screen and (max-width: 1000px) {
  main #sea .fish {
    width: 20%;
  }
}
@media screen and (max-width: 650px) {
  main #sea .fish {
    width: 25%;
  }
}
@media screen and (max-width: 500px) {
  main #sea .fish {
    display: none;
  }
}
main #sea #fish1 {
  top: 95%;
  left: 60%;
  animation: bus1 18s ease-in-out infinite;
}
main #sea #fish1 img {
  width: 100%;
  height: 100%;
}
main #sea #fish2 {
  top: 80%;
  left: 83%;
}
main #sea #fish2 img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 1000px) {
  main #sea #fish2 {
    left: 77%;
  }
}
@media screen and (max-width: 650px) {
  main #sea #fish2 {
    left: 74%;
  }
}
main #sea #fish3 {
  top: 70%;
  left: 8%;
}
main #sea #fish3 img {
  width: 100%;
  height: 100%;
}
@media screen and (max-height: 350px) {
  main #sea::before {
    top: calc(70% - 17px);
  }
}
main .section {
  height: 100vh;
  width: 100%;
  background-color: #cbe9ff;
}
main .section .content {
  position: relative;
  width: 100%;
  height: 100vh;
  max-width: 1500px;
  margin-right: auto;
  margin-left: auto;
}
main #projects {
  padding: 100px 0;
}
main #projects #text {
  position: absolute;
  z-index: 3;
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main #projects #text h2 {
  text-transform: uppercase;
  font-size: 2em;
  margin-top: 20px;
  margin-bottom: 10px;
  line-height: 44px;
  font-weight: 600;
}
@media screen and (max-width: 600px) {
  main #projects #text h2 {
    font-size: 1.5em;
  }
}
main #projects #text h2.active {
  display: none;
}
main #projects #text span {
  color: #ffffff;
  background-color: #f08136;
  cursor: pointer;
  padding: 5px 8px;
  font-size: 1.2em;
}
@media screen and (max-width: 600px) {
  main #projects #text span {
    font-size: 1em;
  }
}
main #projects #grid {
  position: relative;
  z-index: 1;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(20, 5%);
  grid-template-rows: repeat(20, 5%);
}
main #projects #grid .divGrid {
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  box-shadow: 0px 0px 10px #f08136;
  transition: all 1s ease-in-out;
  background-color: #ffffff;
}
main #projects #grid .divGrid.active:hover {
  opacity: 0.8;
  cursor: pointer;
}
main #projects #grid #biblook {
  background-image: url(./Img/Biblook.png);
  position: absolute;
  width: 35%;
  height: 25%;
  top: 15%;
  left: 15%;
}
@media screen and (max-width: 500px) {
  main #projects #grid #biblook {
    background-image: url(./Img/fille.png);
  }
}
main #projects #grid #biblook.active {
  width: 70%;
  height: 50%;
  top: 0;
  left: 0;
  border-radius: 20px 0 0 0;
}
@media screen and (max-width: 500px) {
  main #projects #grid #biblook.active {
    width: 50%;
  }
}
main #projects #grid #biblook.active :hover {
  opacity: 0.8;
  cursor: pointer;
}
main #projects #grid #vache {
  background-image: url(./Img/vache.png);
  position: absolute;
  width: 20%;
  height: 40%;
  top: 55%;
  left: 5%;
}
@media screen and (max-width: 850px) {
  main #projects #grid #vache {
    height: 25%;
  }
}
@media screen and (max-width: 600px) {
  main #projects #grid #vache {
    height: 20%;
    width: 25%;
  }
}
@media screen and (max-width: 600px) {
  main #projects #grid #vache {
    height: 22%;
    width: 31%;
  }
}
main #projects #grid #vache.active {
  width: 30%;
  height: 50%;
  top: 50%;
  left: 0;
  border-radius: 0 0 0 20px;
}
@media screen and (max-width: 900px) {
  main #projects #grid #vache.active {
    width: 40%;
  }
}
main #projects #grid #lotus {
  position: absolute;
  background-image: url(./Img/lotus.png);
  width: 12%;
  height: 40%;
  top: 20%;
  left: 70%;
  background-position: 0% 0;
}
@media screen and (max-width: 1200PX) {
  main #projects #grid #lotus {
    width: 16%;
  }
}
@media screen and (max-width: 900PX) {
  main #projects #grid #lotus {
    width: 20%;
    left: 75%;
  }
}
@media screen and (max-width: 900PX) {
  main #projects #grid #lotus {
    width: 20%;
    left: 75%;
  }
}
@media screen and (max-width: 700PX) {
  main #projects #grid #lotus {
    top: 22%;
    width: 16%;
    height: 25%;
  }
}
@media screen and (max-width: 500PX) {
  main #projects #grid #lotus {
    top: 29%;
    width: 18%;
    height: 18%;
    left: 70%;
  }
}
@media screen and (max-width: 400PX) {
  main #projects #grid #lotus {
    top: 26%;
    width: 27%;
    height: 20%;
    left: 63%;
  }
}
main #projects #grid #lotus.active {
  width: 30%;
  height: 100%;
  top: 0;
  left: 70%;
  border-radius: 0 20px 20px 0;
  background-position: 20% 0;
}
@media screen and (max-width: 900px) {
  main #projects #grid #lotus.active {
    height: 50%;
    border-radius: 0 20px 0 0;
  }
}
@media screen and (max-width: 900px) {
  main #projects #grid #lotus.active {
    left: 50%;
    width: 50%;
  }
}
main #projects #grid #jadoo {
  position: absolute;
  background-image: url(./Img/jadoo.png);
  width: 40%;
  height: 20%;
  top: 65%;
  left: 30%;
}
@media screen and (max-width: 900px) {
  main #projects #grid #jadoo {
    left: 40%;
  }
}
@media screen and (max-width: 700px) {
  main #projects #grid #jadoo {
    height: 14%;
    top: 62%;
  }
}
@media screen and (max-width: 500px) {
  main #projects #grid #jadoo {
    height: 12%;
    top: 57%;
    left: 44%;
    width: 48%;
  }
}
main #projects #grid #jadoo.active {
  width: 40%;
  height: 50%;
  top: 50%;
  left: 30%;
  border-radius: 0;
  background-image: url(./Img/jadooimg.png);
  background-position: 44% 50%;
}
@media screen and (max-width: 900px) {
  main #projects #grid #jadoo.active {
    width: 60%;
    left: 40%;
    border-radius: 0 0 20px 0;
  }
}

@keyframes bus1 {
  5% {
    transform: rotateY(180deg);
    top: 95%;
    left: 62%;
  }
  50% {
    top: 80%;
    left: 20%;
    transform: rotateY(180deg);
  }
  51% {
    top: 80%;
    left: 20%;
    transform: rotateY(360deg);
  }
  100% {
    top: 95%;
    left: 60%;
    transform: rotateY(360deg);
  }
}
footer {
  background-color: #ffe23c;
  height: 200px;
}/*# sourceMappingURL=style.css.map */