@font-face {
  font-family: "Rubis-black";
  src: url(./Police/Rubik/static/Rubik-Black.ttf);
}
@font-face {
  font-family: "Rubis-regular";
  src: url(./Police/Rubik/static/Rubik-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  font-family: "Rubis-regular", serif;
  transition: all 0.2s ease-in;
}

body {
  background-color: #e4f3ff;
}

header {
  height: 80px;
  background-color: #e4f3ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header figure {
  height: 60%;
  margin-left: 50px;
}
header figure img {
  height: 100%;
  line-height: 100%;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 900px) {
  header figure {
    height: 50%;
  }
}
@media screen and (max-width: 700px) {
  header figure {
    height: 45%;
    margin-left: 30px;
  }
}
@media screen and (max-width: 500px) {
  header figure {
    height: 40%;
  }
}
@media screen and (max-width: 400px) {
  header figure {
    margin-right: 20px;
  }
}
header nav {
  height: 100%;
  margin-right: 50px;
  transition: all 0.5s ease-in-out;
}
@media screen and (max-width: 700px) {
  header nav {
    margin-right: 30px;
  }
}
header nav ul {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}
header nav ul li {
  padding: 0 10px;
  height: 100%;
}
@media screen and (max-width: 700px) {
  header nav ul li {
    display: none;
  }
}
header nav ul li a {
  text-align: center;
  padding: 0 10px;
  height: 100%;
  display: block;
  font-size: 1.5em;
  line-height: 80px;
  text-decoration: none;
  color: #4b4b4b;
  width: 100%;
}
header nav ul li a:hover {
  background-color: #ffffff;
  opacity: 70%;
}
@media screen and (max-width: 900px) {
  header nav ul li a {
    font-size: 1em;
  }
}
header #burger {
  overflow: hidden;
  display: none;
  margin-right: 30px;
  height: 45%;
}
header #burger img {
  height: 100%;
  text-align: center;
}
@media screen and (max-width: 700px) {
  header #burger {
    display: block;
  }
}
@media screen and (max-width: 400px) {
  header #burger {
    margin-right: 20px;
  }
}

main {
  background-color: #e4f3ff;
}
main .h2 {
  color: #f08136;
}
main #fullscreen {
  height: calc(100vh - 80px);
}
main #fullscreen #sky {
  position: relative;
  height: 70%;
  background-color: #e4f3ff;
  overflow: hidden;
}
main #fullscreen #sky #clouds {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100%;
}
main #fullscreen #sky #clouds #cloud1 {
  margin: 10px 2% 0 3%;
  width: 400px;
  height: 100%;
}
main #fullscreen #sky #clouds #cloud1 img {
  width: 100%;
  height: 28%;
}
main #fullscreen #sky #clouds #cloud2 {
  margin: 8% 15% 8% 0;
  width: 600px;
  height: 100%;
}
main #fullscreen #sky #clouds #cloud2 img {
  width: 100%;
  height: 67%;
}
main #fullscreen #sky #clouds #cloud3 {
  margin: 9% 15% 7% 0;
  width: 500px;
  height: 100%;
}
main #fullscreen #sky #clouds #cloud3 img {
  width: 100%;
  height: 30%;
}
main #fullscreen #sky #imgPecheur {
  position: absolute;
  left: 138px;
  bottom: -159px;
  height: 500px;
  width: 750px;
}
main #fullscreen #sky #imgPecheur #pecheur {
  position: relative;
  width: 100%;
  height: 100%;
}
main #fullscreen #sky #imgPecheur #pecheur img {
  position: absolute;
  left: -14%;
  width: 100%;
  bottom: 18%;
  height: 99%;
}
@media screen and (max-width: 950px) {
  main #fullscreen #sky #imgPecheur #pecheur img {
    position: absolute;
    left: -14%;
    width: 100%;
    bottom: -3%;
    height: 160%;
  }
}
@media screen and (max-width: 700px) {
  main #fullscreen #sky #imgPecheur #pecheur img {
    position: absolute;
    left: -14%;
    width: 100%;
    bottom: -1%;
    height: 157%;
  }
}
@media screen and (max-width: 600px) {
  main #fullscreen #sky #imgPecheur #pecheur img {
    position: absolute;
    left: -14%;
    width: 100%;
    bottom: -8%;
    height: 175%;
  }
}
@media screen and (max-width: 500px) {
  main #fullscreen #sky #imgPecheur #pecheur img {
    width: 133%;
    height: 149%;
    left: -28%;
    bottom: 1%;
  }
}
@media screen and (max-width: 400px) {
  main #fullscreen #sky #imgPecheur #pecheur img {
    height: 178%;
    bottom: -9%;
  }
}
@media screen and (max-height: 550px) {
  main #fullscreen #sky #imgPecheur #pecheur img {
    left: -23%;
    bottom: 25%;
    height: 80%;
  }
}
@media screen and (max-height: 475px) {
  main #fullscreen #sky #imgPecheur #pecheur img {
    left: -31%;
    bottom: 26%;
    height: 65%;
  }
}
@media screen and (max-height: 390px) {
  main #fullscreen #sky #imgPecheur #pecheur img {
    left: -42%;
    bottom: 31%;
    height: 45%;
  }
}
@media screen and (max-width: 600px) and (max-height: 550px) {
  main #fullscreen #sky #imgPecheur #pecheur img {
    left: -23%;
    bottom: -4%;
    height: 163%;
  }
}
@media screen and (max-width: 600px) and (max-height: 475px) {
  main #fullscreen #sky #imgPecheur #pecheur img {
    left: -31%;
    bottom: 25%;
    height: 67%;
  }
}
@media screen and (max-width: 600px) and (max-height: 390px) {
  main #fullscreen #sky #imgPecheur #pecheur img {
    left: -43%;
    bottom: 32%;
    height: 41%;
  }
}
@media screen and (max-height: 550px) and (max-width: 500px) {
  main #fullscreen #sky #imgPecheur #pecheur img {
    left: -41%;
    bottom: -8%;
    height: 169%;
  }
}
@media screen and (max-height: 550px) and (max-width: 1200px) {
  main #fullscreen #sky #imgPecheur #pecheur img {
    left: -10%;
    bottom: 13%;
    height: 115%;
  }
}
@media screen and (max-height: 550px) and (max-width: 950px) {
  main #fullscreen #sky #imgPecheur #pecheur img {
    left: -13%;
    bottom: -2%;
    height: 154%;
  }
}
@media screen and (max-height: 550px) and (max-width: 700px) {
  main #fullscreen #sky #imgPecheur #pecheur img {
    left: -11%;
    bottom: 27%;
    height: 76%;
  }
}
@media screen and (max-height: 550px) and (max-width: 600px) {
  main #fullscreen #sky #imgPecheur #pecheur img {
    left: -12%;
    bottom: -8%;
    height: 178%;
  }
}
@media screen and (max-height: 550px) and (max-width: 500px) {
  main #fullscreen #sky #imgPecheur #pecheur img {
    left: -29%;
    bottom: -6%;
    height: 169%;
  }
}
@media screen and (max-height: 475px) and (max-width: 1200px) {
  main #fullscreen #sky #imgPecheur #pecheur img {
    left: -19%;
    bottom: 17%;
    height: 89%;
  }
}
@media screen and (max-height: 475px) and (max-width: 950px) {
  main #fullscreen #sky #imgPecheur #pecheur img {
    bottom: -1%;
    height: 139%;
  }
}
@media screen and (max-height: 475px) and (max-width: 700px) {
  main #fullscreen #sky #imgPecheur #pecheur img {
    left: -19%;
    bottom: 21%;
    height: 78%;
  }
}
@media screen and (max-height: 390px) and (max-width: 1200px) {
  main #fullscreen #sky #imgPecheur #pecheur img {
    left: -30%;
    bottom: 25%;
    height: 60%;
  }
}
@media screen and (max-height: 390px) and (max-width: 950px) {
  main #fullscreen #sky #imgPecheur #pecheur img {
    left: -29%;
    bottom: 10%;
    height: 101%;
  }
}
@media screen and (max-height: 390px) and (max-width: 700px) {
  main #fullscreen #sky #imgPecheur #pecheur img {
    left: -30%;
    bottom: 33%;
    height: 39%;
  }
}
@media screen and (max-height: 475px) and (max-width: 500px) {
  main #fullscreen #sky #imgPecheur #pecheur img {
    left: -37%;
    bottom: -12%;
    height: 169%;
  }
}
@media screen and (max-height: 390px) and (max-width: 500px) {
  main #fullscreen #sky #imgPecheur #pecheur img {
    left: -47%;
    bottom: -6%;
    height: 149%;
  }
}
main #fullscreen #sky #imgPecheur #barque {
  position: relative;
  width: 100%;
  height: 100%;
}
main #fullscreen #sky #imgPecheur #barque img {
  bottom: 53%;
  position: absolute;
  height: 200%;
  width: 100%;
  left: -16%;
}
@media screen and (max-width: 1200px) {
  main #fullscreen #sky #imgPecheur #barque img {
    bottom: 54%;
    position: absolute;
    height: 200%;
    width: 79%;
    left: -4%;
  }
}
@media screen and (max-height: 550px) {
  main #fullscreen #sky #imgPecheur #barque img {
    width: 80%;
  }
}
@media screen and (max-height: 475px) {
  main #fullscreen #sky #imgPecheur #barque img {
    width: 65%;
    bottom: 49%;
  }
}
@media screen and (max-height: 390px) {
  main #fullscreen #sky #imgPecheur #barque img {
    width: 45%;
    bottom: 47%;
  }
}
@media screen and (max-height: 550px) {
  main #fullscreen #sky #imgPecheur {
    left: 13%;
    bottom: -170px;
    height: 500px;
  }
}
@media screen and (max-width: 1200px) {
  main #fullscreen #sky #imgPecheur {
    bottom: -130px;
    height: 400px;
    left: 60px;
  }
}
@media screen and (max-width: 950px) {
  main #fullscreen #sky #imgPecheur {
    left: calc(100% - 885px);
    height: 231px;
    bottom: -36px;
    width: 700px;
  }
}
@media screen and (max-width: 950px) and (max-height: 390px) {
  main #fullscreen #sky #imgPecheur {
    left: calc(100% - 830px);
    height: 231px;
    bottom: -53px;
    width: 700px;
  }
}
@media screen and (max-width: 780px) {
  main #fullscreen #sky #imgPecheur {
    left: -12%;
    bottom: -31px;
    height: 225px;
    width: 700px;
  }
}
@media screen and (max-width: 700px) {
  main #fullscreen #sky #imgPecheur {
    left: -16%;
  }
}
@media screen and (max-width: 780px) and (max-height: 390px) {
  main #fullscreen #sky #imgPecheur {
    left: -6%;
    bottom: -50px;
  }
}
@media screen and (max-width: 600px) {
  main #fullscreen #sky #imgPecheur {
    left: -20%;
    bottom: -17px;
    height: 170px;
    width: 700px;
  }
}
@media screen and (max-width: 500px) {
  main #fullscreen #sky #imgPecheur {
    left: -13%;
    bottom: -26px;
    height: 170px;
    width: 450px;
  }
}
@media screen and (max-width: 400px) {
  main #fullscreen #sky #imgPecheur {
    left: -18%;
    bottom: -8px;
    height: 132px;
    width: 450px;
  }
}
@media screen and (max-width: 350px) {
  main #fullscreen #sky #imgPecheur {
    left: -25%;
    bottom: 6px;
    height: 104px;
    width: 450px;
  }
}
@media screen and (max-width: 700px) and (max-height: 550px) {
  main #fullscreen #sky #imgPecheur {
    left: -15%;
    bottom: -182px;
    height: 500px;
  }
}
@media screen and (max-width: 600px) and (max-height: 550px) {
  main #fullscreen #sky #imgPecheur {
    left: -22%;
    bottom: -17px;
    height: 170px;
    width: 700px;
  }
}
@media screen and (max-width: 700px) and (max-height: 475px) {
  main #fullscreen #sky #imgPecheur {
    left: -12%;
    bottom: -124px;
    height: 396px;
  }
}
@media screen and (max-width: 700px) and (max-height: 390px) {
  main #fullscreen #sky #imgPecheur {
    left: 10%;
    bottom: -176px;
    height: 500px;
  }
}
@media screen and (max-width: 500px) and (max-height: 550px) {
  main #fullscreen #sky #imgPecheur {
    left: -32%;
    bottom: -8px;
    height: 140px;
    width: 700px;
  }
}
@media screen and (max-width: 400px) and (max-height: 550px) {
  main #fullscreen #sky #imgPecheur {
    left: -40%;
  }
}
@media screen and (max-width: 350px) and (max-height: 550px) {
  main #fullscreen #sky #imgPecheur {
    left: -27%;
    bottom: 6px;
    height: 104px;
    width: 450px;
  }
}
@media screen and (max-width: 500px) and (max-height: 475px) {
  main #fullscreen #sky #imgPecheur {
    left: -21%;
  }
}
@media screen and (max-width: 400px) and (max-height: 475px) {
  main #fullscreen #sky #imgPecheur {
    left: -28%;
  }
}
@media screen and (max-width: 350px) and (max-height: 475px) {
  main #fullscreen #sky #imgPecheur {
    left: -12%;
    bottom: -2px;
    height: 126px;
    width: 450px;
  }
}
@media screen and (max-width: 500px) and (max-height: 390px) {
  main #fullscreen #sky #imgPecheur {
    left: -4%;
  }
}
@media screen and (max-width: 400px) and (max-height: 390px) {
  main #fullscreen #sky #imgPecheur {
    left: -13%;
  }
}
@media screen and (max-width: 350px) and (max-height: 390px) {
  main #fullscreen #sky #imgPecheur {
    left: -6%;
    bottom: -6px;
    height: 131px;
    width: 622px;
  }
}
main #fullscreen #sky #reeds {
  height: 200px;
  width: 200px;
  position: absolute;
  bottom: 4%;
}
main #fullscreen #sky #reeds img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 950px) {
  main #fullscreen #sky #reeds {
    left: calc(100% - 950px);
  }
}
@media screen and (max-height: 550px) {
  main #fullscreen #sky #reeds {
    height: 60%;
  }
}
@media screen and (max-height: 475px) {
  main #fullscreen #sky #reeds {
    width: 150px;
    bottom: 8%;
  }
}
@media screen and (max-height: 390px) {
  main #fullscreen #sky #reeds {
    width: 100px;
  }
}
@media screen and (max-width: 1200px) {
  main #fullscreen #sky #reeds {
    height: 170px;
    width: 150px;
    position: absolute;
    bottom: 4%;
  }
}
@media screen and (max-width: 1200px) and (max-height: 475px) {
  main #fullscreen #sky #reeds {
    height: 60%;
    bottom: 6%;
  }
}
@media screen and (max-width: 1200px) and (max-height: 390px) {
  main #fullscreen #sky #reeds {
    width: 100px;
  }
}
main #fullscreen #sky #reeds2 {
  height: 200px;
  width: 200px;
  position: absolute;
  bottom: 4%;
  right: 0px;
}
main #fullscreen #sky #reeds2 img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 1700px) {
  main #fullscreen #sky #reeds2 {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  main #fullscreen #sky #reeds2 {
    display: block;
    height: 170px;
    width: 150px;
  }
}
@media screen and (max-width: 600px) {
  main #fullscreen #sky #reeds2 {
    height: 150px;
    width: 140px;
  }
}
@media screen and (max-width: 500px) {
  main #fullscreen #sky #reeds2 {
    height: 120px;
    width: 110px;
  }
}
@media screen and (max-width: 400px) {
  main #fullscreen #sky #reeds2 {
    height: 110px;
    width: 90px;
    bottom: 5%;
  }
}
@media screen and (max-width: 350px) {
  main #fullscreen #sky #reeds2 {
    height: 90px;
    width: 70px;
  }
}
@media screen and (max-height: 550px) {
  main #fullscreen #sky #reeds2 {
    height: 55%;
  }
}
@media screen and (max-height: 475px) {
  main #fullscreen #sky #reeds2 {
    width: 150px;
    bottom: 8%;
  }
}
@media screen and (max-height: 390px) {
  main #fullscreen #sky #reeds2 {
    width: 100px;
  }
}
@media screen and (max-width: 600px) and (max-height: 550px) {
  main #fullscreen #sky #reeds2 {
    height: 45%;
  }
}
@media screen and (max-width: 600px) and (max-height: 475px) {
  main #fullscreen #sky #reeds2 {
    width: 120px;
  }
}
@media screen and (max-width: 600px) and (max-height: 390px) {
  main #fullscreen #sky #reeds2 {
    width: 100px;
  }
}
@media screen and (max-width: 600px) and (max-height: 340px) {
  main #fullscreen #sky #reeds2 {
    height: 50%;
    width: 100px;
  }
}
@media screen and (max-width: 500px) and (max-height: 550px) {
  main #fullscreen #sky #reeds2 {
    height: 40%;
  }
}
@media screen and (max-width: 500px) and (max-height: 475px) {
  main #fullscreen #sky #reeds2 {
    width: 90px;
  }
}
@media screen and (max-width: 400px) and (max-height: 475px) {
  main #fullscreen #sky #reeds2 {
    height: 45%;
  }
}
@media screen and (max-width: 350px) and (max-height: 550px) {
  main #fullscreen #sky #reeds2 {
    height: 30%;
    bottom: 8%;
  }
}
@media screen and (max-width: 350px) and (max-height: 475px) {
  main #fullscreen #sky #reeds2 {
    width: 70px;
    height: 35%;
    bottom: 10%;
  }
}
@media screen and (max-width: 350px) and (max-height: 390px) {
  main #fullscreen #sky #reeds2 {
    height: 40%;
  }
}
main #fullscreen #sky #text {
  position: absolute;
  bottom: 17%;
  left: 55%;
}
@media screen and (max-width: 1500px) {
  main #fullscreen #sky #text {
    left: 60%;
  }
}
@media screen and (max-width: 1350px) {
  main #fullscreen #sky #text {
    left: 65%;
  }
}
@media screen and (max-width: 950px) {
  main #fullscreen #sky #text {
    left: 60%;
  }
}
@media screen and (max-width: 700px) {
  main #fullscreen #sky #text {
    display: none;
  }
}
@media screen and (max-height: 550px) {
  main #fullscreen #sky #text {
    bottom: 21%;
  }
}
@media screen and (max-height: 390px) {
  main #fullscreen #sky #text {
    bottom: 26%;
  }
}
main #fullscreen #sky #text h1 {
  position: relative;
  bottom: 47%;
  font-family: "Averia Gruesa Libre", cursive;
  color: #4B4B4B;
  font-size: 4.5em;
}
@media screen and (max-width: 1500px) {
  main #fullscreen #sky #text h1 {
    font-size: 4em;
  }
}
@media screen and (max-width: 1350px) {
  main #fullscreen #sky #text h1 {
    font-size: 3em;
  }
}
@media screen and (max-width: 950px) {
  main #fullscreen #sky #text h1 {
    font-size: 2em;
  }
}
@media screen and (max-height: 550px) {
  main #fullscreen #sky #text h1 {
    font-size: 4em;
  }
}
@media screen and (max-height: 550px) and (max-width: 1350px) {
  main #fullscreen #sky #text h1 {
    font-size: 3em;
  }
}
@media screen and (max-height: 550px) and (max-width: 850px) {
  main #fullscreen #sky #text h1 {
    font-size: 2em;
  }
}
@media screen and (max-height: 390px) {
  main #fullscreen #sky #text h1 {
    font-size: 2em;
  }
}
main #fullscreen #sky #text h2 {
  position: relative;
  bottom: 47%;
  left: -18%;
  font-size: 4.5em;
  font-weight: 100;
}
@media screen and (max-width: 1500px) {
  main #fullscreen #sky #text h2 {
    font-size: 4em;
    left: -16%;
  }
}
@media screen and (max-width: 1350px) {
  main #fullscreen #sky #text h2 {
    font-size: 3em;
  }
}
@media screen and (max-width: 1200px) {
  main #fullscreen #sky #text h2 {
    font-size: 2.5em;
    left: -9%;
  }
}
@media screen and (max-width: 950px) {
  main #fullscreen #sky #text h2 {
    font-size: 2em;
    left: -16%;
  }
}
@media screen and (max-height: 550px) {
  main #fullscreen #sky #text h2 {
    font-size: 4em;
  }
}
@media screen and (max-height: 550px) and (max-width: 1350px) {
  main #fullscreen #sky #text h2 {
    font-size: 2.5em;
    left: -8%;
  }
}
@media screen and (max-height: 550px) and (max-width: 850px) {
  main #fullscreen #sky #text h2 {
    font-size: 2em;
    left: -15%;
  }
}
@media screen and (max-height: 390px) {
  main #fullscreen #sky #text h2 {
    font-size: 2em;
  }
}
@media screen and (max-height: 390px) and (max-width: 1350px) {
  main #fullscreen #sky #text h2 {
    left: -16%;
  }
}
main #sea {
  height: 30%;
  width: 100%;
  overflow: hidden;
  background-color: #c4e6ff;
  opacity: 0.8;
}
main #sea::before {
  content: "";
  position: absolute;
  top: calc(70% - 24px);
  left: 0;
  width: 100%;
  height: 14%;
  background: url(./Img/sea.svg);
  animation: waves 120s linear infinite;
}
@keyframes waves {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 3000px;
  }
}
main #sea p {
  position: absolute;
  top: 70%;
  left: 46%;
  width: 40%;
  color: #4B4B4B;
  text-align: center;
  font-size: 1.7em;
  z-index: 99;
}
@media screen and (max-width: 1600px) {
  main #sea p {
    left: 47%;
  }
}
@media screen and (max-width: 1500px) {
  main #sea p {
    left: 52%;
  }
}
@media screen and (max-width: 1400px) {
  main #sea p {
    left: 53%;
  }
}
@media screen and (max-width: 1350px) {
  main #sea p {
    left: 58%;
    font-size: 1.2em;
    width: 33%;
  }
}
@media screen and (max-width: 1300px) {
  main #sea p {
    left: 59%;
  }
}
@media screen and (max-width: 1200px) {
  main #sea p {
    left: 60%;
  }
}
@media screen and (max-width: 1100px) {
  main #sea p {
    left: 61%;
  }
}
@media screen and (max-width: 1000px) {
  main #sea p {
    left: 62%;
  }
}
@media screen and (max-width: 950px) {
  main #sea p {
    left: 53%;
  }
}
@media screen and (max-width: 850px) {
  main #sea p {
    left: 54%;
  }
}
@media screen and (max-width: 800px) {
  main #sea p {
    left: 55%;
  }
}
@media screen and (max-width: 700px) {
  main #sea p {
    display: none;
  }
}
@media screen and (max-height: 550px) {
  main #sea p {
    font-size: 1.5em;
    left: 47%;
    width: 35%;
  }
}
@media screen and (max-height: 550px) and (max-width: 1700px) {
  main #sea p {
    left: 47%;
  }
}
@media screen and (max-height: 550px) and (max-width: 1600px) {
  main #sea p {
    left: 48%;
  }
}
@media screen and (max-height: 550px) and (max-width: 1500px) {
  main #sea p {
    left: 54%;
  }
}
@media screen and (max-height: 550px) and (max-width: 1400px) {
  main #sea p {
    left: 55%;
  }
}
@media screen and (max-height: 550px) and (max-width: 1350px) {
  main #sea p {
    left: 58%;
    font-size: 1.2em;
  }
}
@media screen and (max-height: 550px) and (max-width: 1300px) {
  main #sea p {
    left: 58%;
  }
}
@media screen and (max-height: 550px) and (max-width: 1150px) {
  main #sea p {
    left: 60%;
  }
}
@media screen and (max-height: 550px) and (max-width: 1000px) {
  main #sea p {
    left: 61%;
  }
}
@media screen and (max-height: 550px) and (max-width: 950px) {
  main #sea p {
    left: 57%;
  }
}
@media screen and (max-height: 550px) and (max-width: 900px) {
  main #sea p {
    left: 58%;
  }
}
@media screen and (max-height: 550px) and (max-width: 850px) {
  main #sea p {
    left: 54%;
  }
}
@media screen and (max-height: 550px) and (max-width: 850px) {
  main #sea p {
    left: 55%;
  }
}
@media screen and (max-height: 475px) {
  main #sea p {
    font-size: 1.2em;
    width: 35%;
    left: 47%;
  }
}
@media screen and (max-height: 475px) and (max-width: 1700px) {
  main #sea p {
    left: 48%;
  }
}
@media screen and (max-height: 475px) and (max-width: 1500px) {
  main #sea p {
    left: 54%;
  }
}
@media screen and (max-height: 475px) and (max-width: 1400px) {
  main #sea p {
    left: 55%;
  }
}
@media screen and (max-height: 475px) and (max-width: 1350px) {
  main #sea p {
    left: 58%;
  }
}
@media screen and (max-height: 475px) and (max-width: 1150px) {
  main #sea p {
    left: 60%;
  }
}
@media screen and (max-height: 475px) and (max-width: 1000px) {
  main #sea p {
    left: 61%;
  }
}
@media screen and (max-height: 475px) and (max-width: 950px) {
  main #sea p {
    left: 57%;
  }
}
@media screen and (max-height: 475px) and (max-width: 900px) {
  main #sea p {
    left: 58%;
  }
}
@media screen and (max-height: 475px) and (max-width: 850px) {
  main #sea p {
    left: 54%;
  }
}
@media screen and (max-height: 390px) {
  main #sea p {
    left: 49%;
    width: 22%;
    font-size: 1em;
  }
}
@media screen and (max-height: 390px) and (max-width: 1500px) {
  main #sea p {
    left: 55%;
  }
}
@media screen and (max-height: 390px) and (max-width: 1350px) {
  main #sea p {
    left: 61%;
  }
}
@media screen and (max-height: 390px) and (max-width: 1250px) {
  main #sea p {
    left: 62%;
  }
}
@media screen and (max-height: 390px) and (max-width: 1150px) {
  main #sea p {
    left: 58%;
    width: 30%;
  }
}
@media screen and (max-height: 390px) and (max-width: 1050px) {
  main #sea p {
    left: 59%;
  }
}
@media screen and (max-height: 390px) and (max-width: 950px) {
  main #sea p {
    left: 55%;
  }
}
@media screen and (max-height: 390px) and (max-width: 850px) {
  main #sea p {
    width: 40%;
    left: 51%;
  }
}
main #sea .boule {
  width: 100px;
  position: absolute;
}
@media screen and (max-width: 1000px) {
  main #sea .boule {
    width: 80px;
  }
}
@media screen and (max-width: 450px) {
  main #sea .boule {
    width: 70px;
  }
}
@media screen and (max-height: 475px) {
  main #sea .boule {
    width: 40px;
  }
}
main #sea #js {
  top: 71%;
  left: 22%;
}
main #sea #js img {
  width: 100%;
}
main #sea #html {
  top: 73%;
  left: 37%;
}
main #sea #html img {
  width: 100%;
}
main #sea #css {
  top: 84%;
  left: 55%;
}
main #sea #css img {
  width: 100%;
}
main #sea #php {
  top: 79%;
  left: 37%;
}
main #sea #php img {
  width: 100%;
}
main #sea #sql {
  top: 67%;
  left: 84%;
}
main #sea #sql img {
  width: 100%;
}
main #sea #python {
  top: 71%;
  left: 75%;
}
main #sea #python img {
  width: 100%;
}
main #sea .fish {
  position: absolute;
  width: 10%;
}
@media screen and (max-width: 1000px) {
  main #sea .fish {
    width: 20%;
  }
}
@media screen and (max-width: 650px) {
  main #sea .fish {
    width: 25%;
  }
}
@media screen and (max-width: 500px) {
  main #sea .fish {
    display: none;
  }
}
main #sea #fish1 {
  top: 95%;
  left: 60%;
  animation: bus1 18s ease-in-out infinite;
}
main #sea #fish1 img {
  width: 100%;
  height: 100%;
}
main #sea #fish2 {
  top: 80%;
  left: 83%;
}
main #sea #fish2 img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 1000px) {
  main #sea #fish2 {
    left: 77%;
  }
}
@media screen and (max-width: 650px) {
  main #sea #fish2 {
    left: 74%;
  }
}
main #sea #fish3 {
  top: 70%;
  left: 8%;
}
main #sea #fish3 img {
  width: 100%;
  height: 100%;
}
@media screen and (max-height: 350px) {
  main #sea::before {
    top: calc(70% - 17px);
  }
}
main .section {
  height: 100vh;
  width: 100%;
  background-color: #cbe9ff;
  padding: 150px 0;
}
main .section .h2Presentation {
  width: 100%;
  border-bottom: #4b4b4b solid 2px;
  height: 15%;
  font-size: 2em;
  transition: all 1s;
}
@media screen and (max-width: 500px) {
  main .section .h2Presentation {
    font-size: 1.5em;
    height: 10%;
  }
}
@media screen and (max-width: 400px) {
  main .section .h2Presentation {
    font-size: 1.3em;
  }
}
main .section .content {
  position: relative;
  width: 100%;
  height: 100vh;
  max-width: 1500px;
  margin-right: auto;
  margin-left: auto;
}
main .section #contentProjects {
  padding: 150px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .section #contentProjects h2 {
  text-transform: uppercase;
  font-size: 3em;
  margin-top: 20px;
  margin-bottom: 10px;
  line-height: 44px;
  font-weight: 600;
  transition: all 1s ease-in-out;
}
@media screen and (max-width: 600px) {
  main .section #contentProjects h2 {
    font-size: 2.5em;
  }
}
@media screen and (max-width: 400px) {
  main .section #contentProjects h2 {
    font-size: 1.8em;
  }
}
main .section #contentProjects h2.active {
  opacity: 0;
}
main .section #contentProjects #btnRealisation {
  margin-top: 20px;
  margin-bottom: 10px;
  z-index: 200;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  width: 200px;
  border: none;
  background-color: #f08136;
  height: 50px;
  transition: all 1s ease-Out;
}
@media screen and (max-width: 700px) {
  main .section #contentProjects #btnRealisation {
    margin-top: 0;
  }
}
main .section #contentProjects #btnRealisation.active {
  opacity: 0.5;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transform: translateY(-73%);
}
main .section #contentProjects #btnRealisation.active:hover {
  opacity: 0.8;
}
main .section #contentProjects #btnRealisation.active:hover #X {
  background-color: #f08136;
}
main .section #contentProjects #btnRealisation span {
  display: block;
  color: #ffffff;
  font-size: 1.4em;
  transition: all 1s;
  width: 200px;
  line-height: 100%;
}
main .section #contentProjects #btnRealisation #realisations {
  position: relative;
  left: 0;
  transition: all 1s ease-Out;
  background-color: #f08136;
}
main .section #contentProjects #btnRealisation #realisations.active {
  left: 200px;
}
main .section #contentProjects #btnRealisation #X {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s ease-Out;
  bottom: 0;
  left: -200px;
  font-weight: 900;
  font-size: 2em;
  background-color: #4B4B4B;
}
main .section #contentProjects #btnRealisation #X.active {
  left: 0px;
}
main .section #contentProjects .card {
  transition: all 1s ease-in-out;
  transform-style: preserve-3d;
  perspective: 1000px;
  position: relative;
}
main .section #contentProjects .card .divGrid {
  position: absolute;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}
main .section #contentProjects .card .textCard {
  position: absolute;
  background-color: #f08136;
  height: 100%;
  width: 100%;
  transform: rotateY(-180deg);
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main .section #contentProjects .card .textCard h3,
main .section #contentProjects .card .textCard p {
  color: #ffffff;
  margin: 20px 0;
  text-align: center;
  width: 80%;
}
main .section #contentProjects .card .textCard h3 {
  text-transform: uppercase;
  font-size: 3em;
}
main .section #contentProjects .card .textCard p {
  font-size: 2.5em;
}
main .section #contentProjects .card.active {
  transform: rotateY(180deg);
}
main .section #contentProjects .cardBiblook {
  position: absolute;
  width: 46%;
  height: 24%;
  top: 15%;
  left: 15%;
}
@media screen and (max-width: 400px) {
  main .section #contentProjects .cardBiblook {
    top: 30%;
    height: 15%;
  }
}
main .section #contentProjects .cardBiblook .biblook {
  position: absolute;
  background-image: url(./Img/Biblook.png);
}
@media screen and (max-width: 800px) {
  main .section #contentProjects .cardBiblook .biblook {
    background-image: url(./Img/fille.png);
  }
}
main .section #contentProjects .cardBiblook .biblook.active {
  border-radius: 20px 0 0 0;
}
@media screen and (max-width: 900px) {
  main .section #contentProjects .cardBiblook .biblook.active {
    background-image: url(./Img/fille.png);
  }
}
main .section #contentProjects .cardBiblook #textBiblook {
  border-radius: 20px 0 0 0;
}
main .section #contentProjects .cardBiblook.active {
  width: 70%;
  height: calc(50% - 150px);
  top: 150px;
  left: 0;
  transform: rotateY(0deg);
}
@media screen and (max-width: 900px) {
  main .section #contentProjects .cardBiblook.active {
    width: 50%;
  }
}
main .section #contentProjects .cardVache {
  position: absolute;
  width: 20%;
  height: 33%;
  top: 58%;
  left: 5%;
}
@media screen and (max-width: 1200px) {
  main .section #contentProjects .cardVache {
    height: 25%;
  }
}
@media screen and (max-width: 1000px) {
  main .section #contentProjects .cardVache {
    height: 20%;
  }
}
@media screen and (max-width: 800px) {
  main .section #contentProjects .cardVache {
    width: 30%;
  }
}
@media screen and (max-width: 500px) {
  main .section #contentProjects .cardVache {
    height: 12%;
  }
}
main .section #contentProjects .cardVache .vache {
  background-image: url(./Img/vache.png);
  position: absolute;
}
@media screen and (max-width: 1000px) {
  main .section #contentProjects .cardVache .vache {
    background-image: url(./Img/vache2.png);
  }
}
main .section #contentProjects .cardVache .vache.active {
  border-radius: 0 0 0 20px;
}
main .section #contentProjects .cardVache #textVache {
  border-radius: 0 0 0 20px;
}
main .section #contentProjects .cardVache.active {
  width: 30%;
  height: calc(50% - 150px);
  top: 50%;
  left: 0;
  transform: rotateY(0deg);
}
@media screen and (max-width: 900px) {
  main .section #contentProjects .cardVache.active {
    width: 40%;
  }
}
@media screen and (max-width: 600px) {
  main .section #contentProjects .cardVache.active {
    width: 50%;
  }
}
main .section #contentProjects .cardLotus {
  position: absolute;
  width: 17%;
  height: 28%;
  top: 30%;
  left: 70%;
}
@media screen and (max-width: 1200PX) {
  main .section #contentProjects .cardLotus {
    width: 22%;
    height: 23%;
    left: 75%;
  }
}
@media screen and (max-width: 900PX) {
  main .section #contentProjects .cardLotus {
    top: 26%;
    width: 22%;
    height: 17%;
    left: 58%;
  }
}
@media screen and (max-width: 900px) {
  main .section #contentProjects .cardLotus {
    border-radius: 0 20px 0 0;
  }
}
main .section #contentProjects .cardLotus .lotus {
  position: absolute;
  background-image: url(./Img/lotus.png);
  background-position: 20% 0;
}
main .section #contentProjects .cardLotus .lotus.active {
  border-radius: 0 20px 20px 0;
  background-position: 20% 0;
}
main .section #contentProjects .cardLotus #textLotus {
  border-radius: 0 20px 20px 0;
}
main .section #contentProjects .cardLotus.active {
  width: 30%;
  height: calc(100% - 300px);
  top: 150px;
  left: 70%;
  transform: rotateY(0deg);
}
@media screen and (max-width: 900px) {
  main .section #contentProjects .cardLotus.active {
    height: calc(50% - 150px);
    border-radius: 0 20px 0 0;
  }
}
@media screen and (max-width: 900px) {
  main .section #contentProjects .cardLotus.active {
    left: 50%;
    width: 50%;
  }
}
@media screen and (max-width: 600px) {
  main .section #contentProjects .cardLotus.active {
    width: 50%;
    left: 50%;
  }
}
main .section #contentProjects .cardJadoo {
  position: absolute;
  width: 40%;
  height: 20%;
  top: 65%;
  left: 30%;
}
@media screen and (max-width: 1200px) {
  main .section #contentProjects .cardJadoo {
    width: 35%;
  }
}
@media screen and (max-width: 900px) {
  main .section #contentProjects .cardJadoo {
    left: 40%;
    height: 16%;
  }
}
@media screen and (max-width: 700px) {
  main .section #contentProjects .cardJadoo {
    height: 12%;
    top: 56%;
    left: 49%;
  }
}
@media screen and (max-width: 500px) {
  main .section #contentProjects .cardJadoo {
    height: 12%;
    top: 57%;
    left: 44%;
    width: 48%;
  }
}
main .section #contentProjects .cardJadoo .jadoo {
  position: absolute;
  background-image: url(./Img/jadoo.png);
}
@media screen and (max-width: 1200px) {
  main .section #contentProjects .cardJadoo .jadoo {
    background-image: url(./Img/jadooimg.png);
  }
}
main .section #contentProjects .cardJadoo .jadoo.active {
  border-radius: 0;
  background-image: url(./Img/jadooimg.png);
  background-position: 44% 50%;
}
@media screen and (max-width: 900px) {
  main .section #contentProjects .cardJadoo .jadoo.active {
    border-radius: 0 0 20px 0;
  }
}
@media screen and (max-width: 600px) {
  main .section #contentProjects .cardJadoo .jadoo.active {
    background-image: url(./Img/jadoo2.png);
  }
}
main .section #contentProjects .cardJadoo.active {
  width: 40%;
  height: calc(50% - 150px);
  top: 50%;
  left: 30%;
  transform: rotateY(0deg);
}
@media screen and (max-width: 900px) {
  main .section #contentProjects .cardJadoo.active {
    width: 60%;
    left: 40%;
    border-radius: 0 0 20px 0;
  }
}
@media screen and (max-width: 600px) {
  main .section #contentProjects .cardJadoo.active {
    width: 50%;
    left: 50%;
  }
}
main .section #contentProjects .action {
  opacity: 0;
  transition: all 1s;
}
main .section #contentProjects .action.active {
  z-index: 100;
}
main .section #contentProjects .action.active:hover + .card.active {
  transform: rotateY(180deg);
}
main .section #contentProjects #biblookHover.active:hover + .biblook {
  border-radius: 0 20px 0 0;
}
main .section #contentProjects #vacheHover.active:hover + .vache {
  border-radius: 0 0 20px 0;
}
main .section #contentProjects #lotusHover.active:hover + .lotus {
  border-radius: 20px 0 0 20px;
}
main #presentation {
  height: 1500px;
}
main #presentation #contentPresentation {
  padding: 150px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
main #presentation #contentPresentation .left {
  width: 55%;
  height: 100%;
  padding: 150px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 50px;
  transition: all 1s;
}
@media screen and (max-width: 800px) {
  main #presentation #contentPresentation .left {
    width: 100%;
  }
}
main #presentation #contentPresentation .left .contentPresentation {
  width: 100%;
  height: 85%;
  position: relative;
}
main #presentation #contentPresentation .left #aquariom {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20%;
}
main #presentation #contentPresentation .left #aquariom .boule {
  height: 70px;
  width: 70px;
  position: absolute;
}
main #presentation #contentPresentation .left #aquariom .boule img {
  height: 100%;
  width: 100%;
}
main #presentation #contentPresentation .left #aquariom #jsCompetences {
  top: 40%;
  left: 62%;
}
main #presentation #contentPresentation .left #aquariom #htmlCompetences {
  top: 68%;
  left: 24%;
}
main #presentation #contentPresentation .left #aquariom #cssCompetences {
  top: 26%;
  left: 47%;
}
main #presentation #contentPresentation .left #aquariom #phpCompetences {
  top: 73%;
  left: 52%;
}
main #presentation #contentPresentation .left #aquariom #sqlCompetences {
  top: 12%;
  left: 14%;
}
main #presentation #contentPresentation .left #aquariom #pythonCompetences {
  top: 9%;
  left: 85%;
}
main #presentation #contentPresentation .left #aquariom #gitCompetences {
  top: 64%;
  left: 79%;
}
main #presentation #contentPresentation .left .CV {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 10%;
  margin-top: 15%;
}
main #presentation #contentPresentation .left .CV .btn {
  cursor: pointer;
  width: 200px;
  border: none;
  border-radius: 10px;
  background-color: #f08136;
  height: 50px;
  color: #ffffff;
  font-size: 1.2em;
  transition: all 0.5s;
}
main #presentation #contentPresentation .left .CV .btn:hover {
  opacity: 0.9;
  transform: scale(1.2);
}
main #presentation #contentPresentation .left .text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 55%;
}
main #presentation #contentPresentation .left .text .h2Presentation {
  height: 6%;
}
@media screen and (max-width: 500px) {
  main #presentation #contentPresentation .left .text .h2Presentation {
    height: 4%;
  }
}
main #presentation #contentPresentation .left .text p {
  font-size: 1.5em;
  color: #4b4b4b;
}
@media screen and (max-width: 800px) {
  main #presentation #contentPresentation .left .text p {
    font-size: 1em;
  }
}
main #presentation #contentPresentation .left .text p:first-child {
  margin-top: 20px;
}
main #presentation #contentPresentation .right {
  width: 45%;
  height: 100%;
  padding: 150px 0;
  position: relative;
  padding-right: 50px;
  transition: all 1s;
}
@media screen and (max-width: 800px) {
  main #presentation #contentPresentation .right {
    width: 0%;
  }
}
main #presentation #contentPresentation .right .foto {
  position: absolute;
  width: 70%;
  transition: all 1s;
}
@media screen and (max-width: 800px) {
  main #presentation #contentPresentation .right .foto {
    width: 0%;
  }
}
main #presentation #contentPresentation .right .foto img {
  width: 100%;
  height: 100%;
}
main #presentation #contentPresentation .right .foto1 {
  top: 18%;
  left: 25%;
}
main #presentation #contentPresentation .right .foto2 {
  top: 53%;
  left: 4%;
}
main #contact {
  height: 800px;
}
@media screen and (max-width: 1000px) {
  main #contact {
    height: 950px;
  }
}
@media screen and (max-width: 799px) {
  main #contact {
    height: 1060px;
  }
}
@media screen and (max-width: 566px) {
  main #contact {
    height: 1300px;
  }
}
main #contact .content {
  padding: 0;
  height: 100%;
}
main #contact .content .padding {
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
@media screen and (max-height: 700px) {
  main #contact .content .padding {
    flex-direction: row;
  }
}
main #contact .content .padding h2 {
  height: 5%;
  margin: 0 50px;
}
main #contact .content .padding form {
  background-color: #f08136;
  width: 90%;
  height: 90%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 900px) {
  main #contact .content .padding form {
    flex-direction: column;
  }
}
main #contact .content .padding form .zonneForm {
  height: 100%;
}
@media screen and (max-width: 900px) {
  main #contact .content .padding form .zonneForm {
    height: 50%;
  }
}
main #contact .content .padding form .zonneForm1 {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1300px) {
  main #contact .content .padding form .zonneForm1 {
    width: 60%;
  }
}
@media screen and (max-width: 900px) {
  main #contact .content .padding form .zonneForm1 {
    margin-top: 30px;
    width: 100%;
    height: 90%;
  }
}
@media screen and (max-width: 799px) {
  main #contact .content .padding form .zonneForm1 {
    height: 80%;
  }
}
@media screen and (max-width: 566px) {
  main #contact .content .padding form .zonneForm1 {
    height: 70%;
  }
}
main #contact .content .padding form .zonneForm1 .champ {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 90%;
  margin-top: 10px;
}
main #contact .content .padding form .zonneForm1 .champ .label {
  color: #ffffff;
  font-size: 1.5em;
  width: 100%;
  margin-bottom: 5px;
}
@media screen and (max-width: 1000px) {
  main #contact .content .padding form .zonneForm1 .champ .label {
    font-size: 1.2em;
  }
}
main #contact .content .padding form .zonneForm1 .champ .info {
  width: 100%;
  font-size: 1.2em;
  color: #4b4b4b;
  border-radius: 5px;
}
main #contact .content .padding form .zonneForm1 .confidencionality {
  flex-direction: row;
  position: relative;
}
main #contact .content .padding form .zonneForm1 .confidencionality .info {
  position: absolute;
  width: 7%;
  height: 20px;
  margin-right: 5px;
  top: 1%;
}
@media screen and (max-width: 1368px) {
  main #contact .content .padding form .zonneForm1 .confidencionality .info {
    top: 0;
  }
}
@media screen and (max-width: 900px) {
  main #contact .content .padding form .zonneForm1 .confidencionality .info {
    height: 15px;
    top: 2px;
  }
}
main #contact .content .padding form .zonneForm1 .confidencionality .label {
  font-size: 1.2em;
  text-indent: 7%;
}
@media screen and (max-width: 1000px) {
  main #contact .content .padding form .zonneForm1 .confidencionality .label {
    text-indent: 10%;
  }
}
@media screen and (max-width: 900px) {
  main #contact .content .padding form .zonneForm1 .confidencionality .label {
    font-size: 1rem;
  }
}
main #contact .content .padding form .zonneForm1 .submit {
  width: 20%;
  border: none;
  background-color: #3b9be1;
  height: 50px;
  align-self: start;
  margin-left: 5%;
  border-radius: 10px;
  color: #fff;
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in;
  margin-bottom: 20px;
}
main #contact .content .padding form .zonneForm1 .submit:hover {
  opacity: 0.8;
  transform: scale(1.1);
}
main #contact .content .padding form .zonneForm1 .deuxinfo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
@media screen and (max-width: 1000px) {
  main #contact .content .padding form .zonneForm1 .deuxinfo {
    flex-direction: column;
  }
}
main #contact .content .padding form .zonneForm1 .deuxinfo .champ {
  width: 40%;
}
@media screen and (max-width: 1000px) {
  main #contact .content .padding form .zonneForm1 .deuxinfo .champ {
    width: 90%;
  }
}
main #contact .content .padding form .zonneForm2 {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}
@media screen and (max-width: 1300px) {
  main #contact .content .padding form .zonneForm2 {
    width: 40%;
  }
}
@media screen and (max-width: 900px) {
  main #contact .content .padding form .zonneForm2 {
    width: 100%;
    height: 10%;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 799px) {
  main #contact .content .padding form .zonneForm2 {
    height: 20%;
  }
}
@media screen and (max-width: 566px) {
  main #contact .content .padding form .zonneForm2 {
    height: 30%;
  }
}
main #contact .content .padding form .zonneForm2 .contactRight {
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
}
@media screen and (max-width: 1000px) {
  main #contact .content .padding form .zonneForm2 .contactRight {
    margin-left: 5px;
  }
}
@media screen and (max-width: 900px) {
  main #contact .content .padding form .zonneForm2 .contactRight {
    height: 100%;
    flex-direction: row;
    margin-left: none;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
main #contact .content .padding form .zonneForm2 .contactRight .contentContactRight {
  height: 33%;
  width: 90%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@media screen and (max-width: 900px) {
  main #contact .content .padding form .zonneForm2 .contactRight .contentContactRight {
    height: 100%;
    width: 210px;
  }
}
@media screen and (max-width: 799px) {
  main #contact .content .padding form .zonneForm2 .contactRight .contentContactRight {
    height: 50%;
  }
}
@media screen and (max-width: 566px) {
  main #contact .content .padding form .zonneForm2 .contactRight .contentContactRight {
    height: 33%;
  }
}
main #contact .content .padding form .zonneForm2 .contactRight .contentContactRight figure {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main #contact .content .padding form .zonneForm2 .contactRight .contentContactRight figure img {
  height: 60%;
}
@media screen and (max-width: 1000px) {
  main #contact .content .padding form .zonneForm2 .contactRight .contentContactRight figure img {
    height: 50%;
  }
}
main #contact .content .padding form .zonneForm2 .contactRight .contentContactRight p {
  margin-left: 25px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  color: #ffffff;
  font-size: 1.5rem;
}
@media screen and (max-width: 1000px) {
  main #contact .content .padding form .zonneForm2 .contactRight .contentContactRight p {
    margin-left: 10px;
  }
}
@media screen and (max-width: 900px) {
  main #contact .content .padding form .zonneForm2 .contactRight .contentContactRight p {
    font-size: 1.2rem;
  }
}
main #contact .content .padding form .zonneForm2 .contactRight .mesReseaux {
  justify-content: center;
}
main #contact .content .padding form .zonneForm2 .contactRight .mesReseaux a {
  margin: 0 10px;
  height: 100%;
  display: flex;
  align-items: center;
}
main #contact .content .padding form .zonneForm2 .contactRight .mesReseaux a img {
  height: 60%;
}
@media screen and (max-width: 1000px) {
  main #contact .content .padding form .zonneForm2 .contactRight .mesReseaux a img {
    height: 50%;
  }
}

@keyframes bus1 {
  5% {
    transform: rotateY(180deg);
    top: 95%;
    left: 62%;
  }
  50% {
    top: 80%;
    left: 20%;
    transform: rotateY(180deg);
  }
  51% {
    top: 80%;
    left: 20%;
    transform: rotateY(360deg);
  }
  100% {
    top: 95%;
    left: 60%;
    transform: rotateY(360deg);
  }
}
footer {
  background-color: #ffe23c;
  height: 200px;
}/*# sourceMappingURL=style.css.map */