@font-face {
    font-family: 'Rubis-black';
    src: url(./Police/Rubik/static/Rubik-Black.ttf)
}

@font-face {
    font-family: 'Rubis-regular';
    src: url(./Police/Rubik/static/Rubik-Regular.ttf)
}





$blueSky: #e4f3ff;
$blueSea: #c4e6ff;
$orange: #f08136;
$font-color-grey: #4b4b4b;



* {
    margin: 0;
    padding: 0;
    font-family: 'Rubis-regular', serif;
}

header {
    height: 80px;
    background-color: $blueSky;
    display: flex;
    justify-content: space-between;
    align-items: center;

    figure {
        height: 60%;
        margin-left: 50px;

        img {
            height: 100%;
            line-height: 100%;
            display: flex;
            align-items: center;
        }
    }

    nav {
        height: 100%;
        margin-right: 50px;
        transition: all 0.5s ease-in-out;

        @media screen and (max-width: 700px) {

            margin-right: 30px;
        }

        ul {

            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            list-style-type: none;

            li {
                padding: 0 10px;
                height: 100%;

                @media screen and (max-width: 700px) {
                    display: none;

                }

                a {
                    text-align: center;
                    padding: 0 10px;
                    height: 100%;
                    display: block;
                    font-size: 1.5em;
                    line-height: 80px;
                    text-decoration: none;
                    color: $font-color-grey;
                    width: 100%;

                    &:hover {
                        background-color: #ffffff;
                        opacity: 70%;
                    }

                    @media screen and (max-width: 900px) {
                        font-size: 1em;
                    }


                }
            }

        }

    }

    #burger {
        overflow: hidden;
        display: none;
        margin-right: 50px;
        height: 60%;


        img {
            height: 100%;
            text-align: center;
        }


        @media screen and (max-width: 700px) {
            display: block;
        }
    }



}

main {
    height: calc(100vh - 80px);
    background-color: $blueSky;

    #sky {
        position: relative;
    height: 70%;
    background-color: #e4f3ff;
    overflow: hidden;

        #clouds {
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            height: 100%;


            #cloud1 {
                margin: 10px 2% 0 3%;
                width: 400px;
                height: 100%;

                img {
                    width: 100%;
                    height: 28%;
                }
            }

            #cloud2 {
                margin: 8% 15% 8% 0;
                width: 600px;
                height: 100%;

                img {
                    width: 100%;
                    height: 67%;
                }

            }

            #cloud3 {
                margin: 9% 15% 7% 0;
                width: 500px;
                height: 100%;

                img {
                    width: 100%;
                    height: 30%;
                }
            }
        }

        #imgPecheur {
            position: absolute;
            left: 9%;
            bottom: -159px;
            height: 500px;
            width: 750px;

            #pecheur {

                position: relative;
                width: 100%;
                height: 100%;

                img {
                    position: absolute;
                    left: -14%;
                    width: 100%;
                    bottom: 18%;
                    height: 99%;

                    @media screen and (max-width: 500px) {
                        width: 130%;
                        height: 130%;
                        left: -25%;
                        bottom: 8%;
                    }
                }


            }

            #barque {
                position: relative;
                width: 100%;
                height: 100%;

                img {
                    bottom: 53%;
                    position: absolute;
                    height: 200%;
                    width: 100%;
                    left: -16%;
                }
            }

            
            @media screen and (max-height: 550px){
                left: -20%;
    bottom: -38px;
    height: 202px
            }

            @media screen and (max-width: 850px) {
                left: calc(100% - 750px);
            }

            @media screen and (max-width: 700px) {
                left: -9%;
                bottom: -134px;
                height: 450px;
                width: 700px;
            }

            @media screen and (max-width: 600px) {
                left: -11%;
                bottom: -90px;
                height: 350px;
                width: 600px;
            }

            @media screen and (max-width: 500px) {
                left: -16%;
                bottom: -40px;
                height: 250px;
                width: 500px;
            }

            @media screen and (max-width: 400px) {
                left: -20%;
                bottom: -20px;
                height: 200px;
                width: 450px;
            }
            



        }
    }
}

#sea {
    height: 40%;
    width: 100%;
    overflow: hidden;
    background-color: #c4e6ff;
    opacity: 0.8;

    &::before {
        content: "";
        position: absolute;
        top: calc(70% + -24px);
        left: 0;
        width: 100%;
        height: 14%;
        background: url(./Img/sea.svg);
        animation: waves 120s linear infinite;
    }

    @keyframes waves {
        0% {
            background-position-x: 0;
        }

        100% {
            background-position-x: 3000px;
        }
    }






}